<?php
foreach($list as $v){
   echo  'id:'.$v['id'].'uuid:'.$v['username'].'<br/>';
}
echo $showPages;

?>
<br>
<img src="?index/buildCaptcha&aaa=" + Math.random() alt="" onclick="javascript:re_captcha();" id="captcha" >


<form action="?index/test" method="post">
    <input type="text" name="code">
    <input type="submit">
</form>

<script>
    function re_captcha() {
        $url = "?index/buildCaptcha";
        $url = $url + "&aaa=" + Math.random();
        document.getElementById('captcha').src=$url;
    }
</script>